<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-9603079-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-9603079-4');
    </script>

    <title>Error 404</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/404.css">
    <link rel="shortcut icon" href="https://www.sxdiscover.com/favicon.ico?v=2">
    <meta name="viewport" content="width=device-width initial-scale = 1.0
maximum-scale=1.0 user-scalable=no" />
  </head>
  <body>
    <div id="mid">
            <img id="fourfourimage" src="/images/404.png">
            <!-- <h1>Error 404</h1> -->
            <p class="four">Oops. Looks like we forgot to build this page.</p>
            <p class="four"><a href="http://sxdiscover.co" class="fourlink">Click here to head back home.</a></p>
            <p class="four"><a href="http://facebook.com/sxdiscover" class="fourlink">Contact us here</a> if you keep getting redirected here.</p>
    </div>
  </body>
</html>