<!DOCTYPE html>
<html>
  <head>
    <title>About us</title>
    <link rel="shortcut icon" href="https://www.sxdiscover.com/favicon.ico?v=2">
    <meta person__name="viewport" content="width=device-width initial-scale = 1.0
maximum-scale=1.0 user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/about.css">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagperson__name(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-75031530-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div class="container">
        <div class="title">who we are</div>
          <div class="person">
            <div class="person__name">Mathew Antony</div>
            <!-- <img src="/images/mat.jpg" class="pic"> -->
            <div class="person__bio">Born in India, grew up in Dubai, and came to Texas for college. Mathew loves music, tech and working on fun <a href="http://mathewantony.com/projects.html">side projects</a>. He’s most pumped to see <a href="http://do512.com/artists/phoria">Phoria</a> this SX.</div>
          </div>
          <div class="person">
            <div class="person__name">Ben Hummel</div>
            <!-- <img src="/images/wrs.jpg" class="pic"> -->
            <div class="person__bio">Ben is a big fat poopy head who smells of rotten eggs.</div>
          </div>
      <div class="faq">
        <div class="faq__title">FAQ</div>

            <div class="faq__question">How does SXDiscover work?</div>
              <div class="faq__answers">When you log in to SXDiscover with Spotify, you are authorizing us to see a list of bands you have saved - in your library, in playlists, or in your Discover Weekly playlist. We compare this list to our database of shows, and give you an itinerary with all of your matches.</div>

            <div class="faq__question">What is a public itinerary?</div>
              <div class="faq__answers">New for 2017, we have built public itineraries - you can share them on Facebook, in a text, or anywhere you'd share a link. These links allow you to share your results with friends and decide on which shows you're going to together. All itineraries are public by default, but accessible only by people with your unique public link.</div>

            <div class="faq__question">Can I disable my public itinerary?</div>
              <div class="faq__answers">Yep, you sure can. After generating your itinerary, you'll see an option on the page to make it private. You only need to do this once. If someone else tries to access your link after making it private, they'll get an error.</div>

            <div class="faq__question">Is SXDiscover free?</div>
              <div class="faq__answers">We're totally free. In fact, we are don't receive any proceeds from operations, advertising, or other sources of income. Running the service costs money, so if you see us at us a show, buy us a drink and we'll call it even!</div>

            <div class="faq__question">I have a question for you, or want to report a bug. How can I contact you?</div>
              <div class="faq__answers">The best way to contact us is via our <a href="http://facebook.com/sxdiscover" id="fbpage">Facebook page</a>. We look forward to hearing from you!</div>
        </div>
    <!-- </div> -->
  </body>
</html>
