<!DOCTYPE html>
<html>
  <head>
    <title>Coming soon...</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/soon.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,800" rel="stylesheet">
    <link rel="shortcut icon" href="http://sxdiscover.co/favicon.ico?v=2">
    <meta name="viewport" content="width=device-width initial-scale = 1.0 
maximum-scale=1.0 user-scalable=no" /> 
  </head>
  <body>
    <div class="container">
      <div class="title">SXDiscover</div>
      <div class="subtitle">February 20th, 2019</div>
    </div>
  </body>
</html>