<!DOCTYPE html>
<html>
  <head>
    <title>Coming soon...</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
    <link rel="shortcut icon" href="http://sxdiscover.co/favicon.ico?v=2">
    <meta name="viewport" content="width=device-width initial-scale = 1.0 
maximum-scale=1.0 user-scalable=no" /> 
  </head>
  <body>
  	<div id="mid">
            <img id="comingsoon" src="/images/logo.png">
    </div>
  </body>
</html>