<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/bands.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-75031530-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <div id="header-text">
      <h1 id="logo">SXDiscover</h1>
      <p id="tagline">Hey, look who’s in town.</p>
      <p id="tagline">Seeing some new names? They’re probably the next big thing, straight from your Discover Weekly playlist.</p>
    </div>
    <div id="loader-wrapper">
      <div id="loader"></div>
      <div id="loading"></div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/javascripts/loader.js"></script>
    <script src="/javascripts/date.js"></script>
    <script>
      // DOM Ready =============================================================
      $(document).ready(function() {
          populateTable();
          // setTimeout(function(){
          //   $('#loading').html("<p>Searching your Spotify account...🔍</p>");
          // }, 200);
          // setTimeout(function(){
          //   $('#loading').html("<p>Waiting for Will and Mathew to google search all your bands...👬🏃🔍</p>");
          // }, 2500);
          // setTimeout(function(){
          //   $('#loading').html("<p>Pro tip: we only list one show per band. 😱 Most bands play multiple shows. Click the band name to catch ‘em all. 🎣 </p>");
          // }, 6000);
          // setTimeout(function(){
          //   $('#loading').html("");
          //   $('body').addClass('loaded');
          // }, 11000);
      });
      // Functions =============================================================
      // Fill table with data
          function populateTable() {
          // Empty content string
          var content = '';
          // jQuery AJAX call for JSON
          $.getJSON( '/bands', function(data) {
              if (data.hasOwnProperty('errors')){
                  console.log(data);
                  window.location.replace("http://sxdiscover.co/404");
              }
              var results = ['SX'];

              // data.sort(function(a,b){
              //     return Date.parse(a["date"]+" "+a["time"]).getTime()-Date.parse(b["date"]+" "+b["time"]).getTime();
              // });

              // For each item in our JSON, add a table row and cells to the content string
              $.each(data, function(){
                  try{
                      var n = this.name;
                      var d = getDate(this.date);
                      var t = getTime(this.time) + ".";
                      var v = this.venue + ".";
                      var l = this.link;
                      if (v == "tbd."){
                        t = "TBD";
                        v = "";
                      }
                      if (d == "2016-01-01"){
                          d = "TBD";
                      }
                  for(var i=0;i<results.length; i++){
                  if (results[i][0].date == d){
                    results[i][0].bands.push([n, v, t, l]);
                    break;
                  } else if (i==results.length-1) {
                    results.push([{
                      date:d,
                      bands: [[n, v, t, l]]
                      }]);
                    break;
                    }
                  }
                } catch (e){
                  console.log("Error: Couldn't access bands from /bands response");
                }
              });
                //Remove first element
                results = results.slice(1);
                for(var j=0;j<results.length;j++){
                  if(j==0){
                      content += '<div class="firstdate">~ '+results[j][0].date + ' ~</div>';
                  } else {
                      content += '<div class="date">~ '+results[j][0].date + ' ~</div>';
                  }
                  for(var k=0;k<results[j][0].bands.length;k++){
                      content += '<div class="band-container">';
                      content += '<h2 class="artist"><a href=\''+results[j][0].bands[k][3]+'\' target="_blank">'+results[j][0].bands[k][0]+'</a></h2><h3 class="venue">'+results[j][0].bands[k][1]+ ' '+results[j][0].bands[k][2]+'</h3>';
                      content += '</div>';
                      }
                  }
                  
              // Inject the whole content string into our existing HTML table
              $('#bandList').html(content);
              $('body').addClass('loaded');
          });
      };
          function getDate(showdate){
          var day = new String();
          if (showdate == ""){
              return showdate;
          }
          else{
              switch(parseInt(showdate.slice(-2))) {
              case 11:
              case 18:
                  day = "Friday, March "+showdate.slice(-2)+"th";
                  break;
              case 12:
              case 19:
                  day = "Saturday, March "+showdate.slice(-2)+"th";
                  break;
              case 13:
              case 20:
                  day = "Sunday, March "+showdate.slice(-2)+"th";
                  break;
              case 14:
                  day = "Monday, March "+showdate.slice(-2)+"th";
                  break;
              case 15:
                  day = "Tuesday, March "+showdate.slice(-2)+"th";
                  break;
              case 16:
                  day = "Wednesday, March "+showdate.slice(-2)+"th";
                  break;
              case 17:
                  day = "Thursday, March "+showdate.slice(-2)+"th";
                  break;
              default:
                  day = showdate;
          }
          }
          return day;
      };
          function getTime(showtime){
          var time = new String();
          var hour = parseInt(showtime.substring(0,2));
          var min = parseInt(showtime.substring(3,5));
          var ampm = "am";
          if (showtime == ""){
              return showtime;
          }
          else{
              switch(hour) {
              case 0:
                  if (min == 0){
                      time = "Midnight";
                  }
                  else{
                      time = "12:"+showtime.substring(3,5)+" am";
                  }
                  break;
              case 12:
                  if (min == 0){
                      time = "Noon";
                  }
                  else{
                      time = showtime.substring(0,5)+" pm";
                  }
                  break;
              default:
                  if (hour > 12){
                      hour = hour - 12;
                      ampm = "pm"
                  }
                  if (min == 0){
                      time = hour.toString() +" "+ampm;
                  }
                  else{
                      time = hour.toString() + showtime.substring(3,5)+" "+ampm;
                  }
              }
          }
          return time;
      };
    </script>
    <article id="bandList"></article>
    <div id="footer"><a href="http://sxdiscover.co/about" alt="about us" target="_blank">👬</a></div>
  </body>
</html>