<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-9603079-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-9603079-4');
    </script>

    <title></title>
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/loaders.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/home-grid.css">
    <meta name="viewport" content="width=device-width initial-scale = 1.0
maximum-scale=1.0 user-scalable=no" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/javascripts/loader.js"></script>
    <script src="/javascripts/date.js"></script>
    <script>
      var user = "{{name}}";
      console.log(user);

      // Function to fill table with data
          function loadUserPage() {

            console.log("Loading page for "+user);

          // jQuery AJAX call
          $.get( '/pages/'+user, function(data) {
            console.log("Running /pages function");
              if (data.hasOwnProperty('errors')){
                  console.log(data);
                  window.location.replace("http://sxdiscover.co/404");
              }
              window.location.replace("/pages/"+user);
            });
          };

      loadUserPage();
    </script>
  </head>
  <body>
    <div id="mid">
      <h1 class="splashlogo">SXDiscover</h1>
      <div id="animation">
       <div class="loader-inner ball-pulse">
        <div id="red"></div>
        <div id="yellow"></div>
        <div id="turqoise"></div>
      </div>
    </div>
  </div>
  </body>
</html>
