<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-9603079-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-9603079-4');
  </script>

  <title>SXDiscover Privacy Policy</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/reset.css">
  <link rel="stylesheet" href="/stylesheets/privacy.css">
  <meta name="viewport" content="width=device-width initial-scale = 1.0
  maximum-scale=1.0 user-scalable=no" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

</head>
<body>
  <div class="container">
    <div class="title">Our Privacy Policy</div>
    <div class="description">We collect your email address and authorization to edit your Google Calendar so that we can save SX events to your calendar. We will never spam you or share your data with any third-party.</div>
  </div>
  <div id="back-to-app" class="dismiss-button">
    <div class="dismiss-button__text">GO BACK</div>
  </div>
<script>
  var user = "{{name}}";

  $('#back-to-app').click(function(){
    window.location.replace("/");
  })

</script>
</body>
</html>
