<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-9603079-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-9603079-4');
    </script>

    <title></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/private.css">
  </head>
  <body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/javascripts/global.js"></script>

    <div id="mid">
      <img id="logo" src="/images/logo.png">
            <h2>This page is private.</h2>
            <h2 id="view">To view your SXDiscover bands, <a href="/login">click here.</a></h2>
          <!-- <a href="/login"><img id="spotify" src="images/svg/log_in-desktop.svg"></a> -->
    </div>

    <!-- Bottom of site -->
    <div id="footer">
      <a href="/about" alt="about us" id="info">more info →</a>
    </div>
    
  </body>
</html>