<!DOCTYPE html>
<html>
  <head>
    <title>SXDiscover</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/gridMap.css">
    <!-- <meta name="viewport" content="width=device-width initial-scale = 1.0
maximum-scale=1.0 user-scalable=no" /> -->
    <link rel="shortcut icon" href="http://sxdiscover.co/favicon.ico?v=2">
  </head>


<body class="site">
      <!-- <img id="logo" src="/images/logo.png"> -->
      <h1>SXD</h1>
      <article id="bandList"></article>
</body>
</html>
