<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-9603079-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-9603079-4');
  </script>


  <title>SXDiscover</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/userpage.css">
  <link rel="stylesheet" href="/stylesheets/vex.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/snackbar.css">
  <link rel="stylesheet" href="/stylesheets/vex-theme-wireframe.css" />


  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- <meta name="viewport" content="width=device-width initial-scale = 1.0 maximum-scale=1.0 user-scalable=no" /> -->
  <link rel="shortcut icon" href="https://www.sxdiscover.com/favicon.ico?v=2">

  <!-- Facebook link previews -->
    <!-- You can use Open Graph tags to customize link previews.
      Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
      <meta property="fb:app_id"        content="618293678380263" />
      <meta property="og:url"           content="{{link}}" />
      <meta property="og:type"          content="website" />
      <meta property="og:title"         content="{{fbShareMessage}}" />
      <meta property="og:description"   content="Log in with Spotify to find out if your favorite bands are playing SXSW." />
      <meta property="og:image"         content="https://www.sxdiscover.com/images/sxd.png" />
    </head>
    <body class="site">
      <div id="snackbar"></div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
      <script src="/javascripts/global.js"></script>
      <script src="/javascripts/date.js"></script>
      <script src="/javascripts/moment.js"></script>
      <script src="/javascripts/vex.combined.min.js"></script>
      <script>vex.defaultOptions.className = 'vex-theme-wireframe';</script>

      <!-- UPDATE: 2017 Facebook SDK code for share button -->
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=618293678380263";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
      // If we're redirected to this page from a Google Auth, we add ?auth=true to the URL.
      // Check if "auth=true" exists and show a success toast that the calendar event was added.
      window.onload = function(){
        var param = window.location.search.substring(1) 
        if(param.includes("auth")){
          showToast("Show added to calendar.");
        }
      }
      
      $(document).ready(function(){
        $('input[type=checkbox]').click(function(){
          document.getElementById("go-to-schedule").style.visibility = "visible"
        });

        // helper modal
        // vex.dialog.buttons.YES.text = 'Got it'
        // vex.dialog.alert({ message: "Here are all the SXSW shows we think you'll love based on your Spotify profile. Click the + button to add a show to your schedule." })
      });

      // Function to show toast at the top
      function showToast(text) {
        var x = document.getElementById("snackbar");
        x.innerHTML = text;
        x.className = "display";
      // After 3 seconds, remove the show class from DIV
      setTimeout(function(){ x.className = x.className.replace("display", ""); }, 2500);
    }

    // Function that adds an event handler for each "Save to calendar button". index tells us which date and show the "Save to calendar" button was clicked for.
    function addCalendarButtonEventHandler(index, name, venue, date, time, link){
        var year = (new Date()).getFullYear() // Get current year
        var month = 3 // Assuming all shows are in March
        var hour = Date.parse(time).getHours()
        var min = Date.parse(time).getMinutes()
        var endHour;
        if(hour==23){
          endHour = 0
        } else {
          endHour = hour+1
        }

        var startDateTime = year+"-"+month+"-"+date+"T"+hour+":"+min+":00"
        var endDateTime = year+"-"+month+"-"+date+"T"+endHour+":"+min+":00"

        var eventData = {
          'summary': 'SXSW: '+name,
          'location': venue,
          'description': link,
          'start': startDateTime,
          'end': endDateTime,
          'currentURL':window.location.href
        }

        $("#saveToCalendar-"+index).click(function(e){
          e.preventDefault();
          
          $.ajax({
            datatype:"json",
            type: 'POST',
            url: '/calendar',
            data: eventData,
            success: function(result){
              if(result.status==200){
                showToast("Show added to calendar.");
                var x = document.getElementById("saveToCalendar-"+index)
                x.style.backgroundImage = "url('/images/calendar-checked.svg')"
              }
              if(result.status==500){
                // some UI indication that the calendar event was not added
                showToast("Error adding show to calendar.");
              }
              if(result.status==403){
                showCalendarModal(result.redirectURI)
              }
            }
          });
        })
      }

      function showCalendarModal(redirectURI){
        // show Toast with button redirectURI

        vex.dialog.buttons.YES.text = 'Continue to Google';

        vex.dialog.confirm({
          message: 'We\'ll need your permission to save events to your Google calendar.',
          callback: function(value){
            if(value){
              window.location.assign(redirectURI)
            }
          }
        })
      }

      function shareShowEventHandler(index, showId){
        $("#share-"+index).click(function(e){
          var shareUrl = 'https://www.sxdiscover.com/show/'+showId+'?ref=shareShowButton'

          vex.dialog.buttons.YES.text = 'Back to lineup';

          vex.dialog.alert({unsafeMessage: '<div class="modal__header">Share the link below with your friends:</div><textarea rows="3" class="modal__textarea" id="scheduleUrlTextArea">'+shareUrl+'</textarea>'})


          setTimeout(function(){
            document.getElementById('scheduleUrlTextArea').setSelectionRange(0, 9999);
          }, 1)
        })
      }

    </script>

  <div class="showlist">
    <div class="header">
    {{#if owner}}
      <div class="title">Your SXSW Lineup</div>
    {{else}}
      <div class="title">{{ownerName}}'s schedule</div>
    {{/if}}
    </div>
    {{#if shows}}
    <form name="showsForm">
      {{#each shows}}
      <div class="show__day">{{this.day}}, March {{this.date}}</div>
      {{#each shows}}
      <div class="show">
        <div class="show__time-wrapper">
          <div class="show__time">{{this.time}}</div>
        </div>
        <div class="show__info">
          <a href="/show/{{this.showId}}" target="_blank"><div class="show__band">{{this.name}}</div></a>
          <div class="show__source">{{this.source}}</div>
          <h3 class="show__venue">{{this.venue}}</h3>
          <h3 class="show__price">{{this.price}}</h3>
        </div>
        <div id="share-{{@../index}}-{{@index}}" class="show__button share-schedule"></div>
        <div id="saveToCalendar-{{@../index}}-{{@index}}" class="show__button add-to-calendar"></div>
          <script>
            var name = "{{this.name}}"
            var venue = "{{this.venue}}"
            var date = "{{../this.date}}"
            var time = "{{this.time}}"
            var link = "{{this.link}}"
            var showId = "{{this.showId}}"
            addCalendarButtonEventHandler("{{@../index}}-{{@index}}",name,venue,date,time,link)
            shareShowEventHandler("{{@../index}}-{{@index}}", showId)
          </script>
        </div>
        {{/each}}
        {{/each}}
      </form>
      <!-- Check if user is owner of the schedule and show different footer buttons accordingly -->

      <!-- OWNER = true -->
      {{#if owner}}
      <div class="footer">
        <div class="footer-button" id="save-schedule">
          <div class="footer-button__text">Copy link to lineup</div>
        </div>
      </div>
      {{else}}

      <!-- OWNER = false -->
      <div class="footer viewer">
        <div class="subtitle">Discover SXSW shows from your favorite artists.</div>
        <a href="/login" class="spotify-button">
          <img id="spotify" src="../images/spotify-button.svg">
        </a>
        <div id="green-button-no-text" style="visibility: hidden;" class="spotify-button no-text">
          <div class="lds-ellipsis" id="loader"><div></div><div></div><div></div><div></div></div>
        </div>
        <script>
          $('#spotify').click(function(){
          // Show loading animation 
          document.getElementById("green-button-no-text").style.visibility = "visible"
        });
      </script>
    </div>
    {{/if}}
    {{else}}
  </div> 
  <br /><br />
  <div class="no-shows-placeholder">No shows found yet 😞</div>
  <div class="no-shows-placeholder">Don't worry – new shows are added every day. Check back soon!</div>
  {{/if}}
</div>
<div class="go-to-schedule" id="go-to-schedule" onclick="getCheckedShows()">
  <div class="go-to-schedule__cell">
    <div id="go-to-schedule" class="go-to-schedule__button-text">
      Go to schedule
    </div>
    <div class="go-to-schedule__subtitle-text">
      Don't worry. You can come back to this list later.
    </div>
  </div>  
</div>
</div>
</div>
<script>
  $('#save-schedule').click(function(e){
    var shareUrl = window.location.href+'?ref=share'

    vex.dialog.buttons.YES.text = 'Back to lineup';

    vex.dialog.alert({unsafeMessage: '<div class="modal__header">Your unique lineup link</div><textarea rows="3" class="modal__textarea" id="scheduleUrlTextArea">'+shareUrl+'</textarea><div class="modal__subtitle">Copy this link to share with friends or access your lineup later.</div>'})


    setTimeout(function(){
      document.getElementById('scheduleUrlTextArea').setSelectionRange(0, 9999);
    }, 1)

  })
</script>
</body>
</html>
