<!DOCTYPE html>
<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-9603079-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-9603079-4');
  </script>


  <title>SXDiscover</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/userpage.css">
  <link rel="stylesheet" href="/stylesheets/vex.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/snackbar.css">
  <link rel="stylesheet" href="/stylesheets/vex-theme-wireframe.css" />


  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- <meta name="viewport" content="width=device-width initial-scale = 1.0 maximum-scale=1.0 user-scalable=no" /> -->
  <link rel="shortcut icon" href="https://www.sxdiscover.com/favicon.ico?v=2">

  <!-- Facebook link previews -->
    <!-- You can use Open Graph tags to customize link previews.
      Learn more: https://developers.facebook.com/docs/sharing/webmasters -->
      <meta property="fb:app_id"        content="618293678380263" />
      <meta property="og:url"           content="{{link}}" />
      <meta property="og:type"          content="website" />
      <meta property="og:title"         content="{{fbShareMessage}}" />
      <meta property="og:description"   content="Log in with Spotify to find out if your favorite bands are playing SXSW." />
      <meta property="og:image"         content="https://www.sxdiscover.com/images/sxd.png" />
    </head>
    <body class="site">
      <div id="snackbar"></div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
      <script src="/javascripts/global.js"></script>
      <script src="/javascripts/date.js"></script>
      <script src="/javascripts/moment.js"></script>
      <script src="/javascripts/vex.combined.min.js"></script>
      <script>vex.defaultOptions.className = 'vex-theme-wireframe';</script>

      <!-- UPDATE: 2017 Facebook SDK code for share button -->
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=618293678380263";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
      $(document).ready(function(){
        $('input[type=checkbox]').click(function(){
          document.getElementById("go-to-schedule").style.visibility = "visible"
        });

        // helper modal
        // vex.dialog.buttons.YES.text = 'Got it'
        // vex.dialog.alert({ message: "Here are all the SXSW shows we think you'll love based on your Spotify profile. Click the + button to add a show to your schedule." })
      });

      // Function to show toast at the top
      function showToast(text) {
        var x = document.getElementById("snackbar");
        x.innerHTML = text;
        x.className = "display";
      // After 3 seconds, remove the show class from DIV
      setTimeout(function(){ x.className = x.className.replace("display", ""); }, 2500);
    }
    
  </script>

  <!-- page content -->

  <div class="showlist">
    <div class="header">
      <div class="title">Your full show list</div>
      <div class="subtitle">Click the plus buttons on the right to save a custom schedule</div>
    </div>
    {{#if shows}}
    <form name="showsForm">
      {{#each shows}}
      <div class="show__day">{{this.day}}, March {{this.date}}</div>
      {{#each shows}}
      <div class="show">
        <div class="show__time-wrapper">
          <div class="show__time">{{this.time}}</div>
        </div>
        <div class="show__info">
          <a href="{{this.link}}" target="_blank"><div class="show__band">{{this.name}}</div></a>
          <div class="show__source">{{this.source}}</div>
          <h3 class="show__venue">{{this.venue}}</h3>
          <h3 class="show__price">{{this.price}}</h3>
        </div>
        <div class="show__add">
          <!-- generate plus buttons for each show -->
          <input type="checkbox" id="checkbox-{{this.showId}}" class="show__add-button" />
          <label for="checkbox-{{this.showId}}" />
        </div>
      </div>
      {{/each}}
      {{/each}}
    </form>
    {{else}}
  </div> 
  <br /><br />
  <div class="no-shows-placeholder">No shows found yet 😞</div>
  <div class="no-shows-placeholder">Don't worry – new shows are added every day. Check back soon!</div>
  {{/if}}
</div>
<div class="go-to-schedule" id="go-to-schedule" onclick="getCheckedShows()">
  <div class="go-to-schedule__cell">
    <div id="go-to-schedule" class="go-to-schedule__button-text">
      Go to schedule
    </div>
    <div class="go-to-schedule__subtitle-text">
      Don't worry. You can come back to this list later.
    </div>
  </div>  
</div>

<script>
  function getCheckedShows(form){
    var savedShows = [];

      // get all checked checkboxes
      var checkboxes = document.querySelectorAll("input[type=checkbox]");
      for(var i = 0; i < checkboxes.length; i++ ){
        if(checkboxes[i].checked == true){

          // checkbox ids are formatted as `checkbox-<showId>`
          // strip first 9 chars to get just showId
          var thisShowId = checkboxes[i].id.substr(9,);
          savedShows.push(thisShowId);
        }
      }

      // make sure at least one box was checked
      if(savedShows.length < 1){
        vex.dialog.alert({ 
          message: "Oops, no shows were selected. Try clicking the + icon next to a show!" 
        })
        return 1;
      }

      sendCheckedShowsToDatabase(savedShows);

      function sendCheckedShowsToDatabase(savedShows){
        var showData = {
          'savedShows': savedShows
        }
        $.ajax({
          datatype:"json",
          type: 'POST',
          url: '/updateSchedule',
          data: showData,
          success: function(result){
            if(result.status==200){
              var url = window.location.href // https://www.sxdiscover.com/pages/mathew.antony31
              var indexOfUserId = url.indexOf("pages") + 6
              var userId = url.substring(indexOfUserId) // mathew.antony31
              window.location.assign('/schedule/'+userId)
            }
            if(result.status!=200){
              showToast("Error saving schedule");
            }
          }
        });
      }
    }
  </script>
</div>

<script>
  $('#changeStatus').click(function(){
    $.get("/private", function(data) {
      location.reload();
    }); return false;
  });

  $('#changeStatus1').click(function(){
    $.get("/private", function(data) {
      location.reload();
    }); return false;
  });

  if("{{canDelete}}"=='y'){
    $(".friendPage").hide();
    if("{{public}}"=='y'){
      $(".public").show();
      $(".private").hide();
    } else {
      $(".public").hide();
      $(".private").show();
    }
  } else {
    $(".friendPage").show();
    $(".public").hide();
    $(".private").hide();
  }
</script>
</div>
</body>
</html>
