/*Reset function*/
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,
pre, form, fieldset, table, th, td { margin: 0; padding: 0; }


/*DESIGN FOR MOBILE DEVICES*/
@media only screen and (min-width: 320px) {
	body {
		background-image: url("/images/mobile_cover.png");
	    background-position: left top;
	    background-attachment: fixed;
	    background-size: cover;
	    background-color: #303244;
	}
	h2 {
	font-family: "OpenSans", sans-serif;
	font-size: 1em;
	color: #FFFFFF;
	letter-spacing: 0px;
	display: block;
	margin: 0 auto;
	/*padding: 5% 0 5% 0;*/
	margin-bottom: 1em;
	font-weight: lighter;
	font-style: italic;
	}

	h1 {
	font-family: "OpenSans", sans-serif;
	font-weight: lighter;
	font-size: 1.5em;
	color: #FFFFFF;
	letter-spacing: 0px;
	vertical-align: middle;
	display: block;
	margin: 0 auto;
	margin-bottom:0.2em;
	}
}
@media only screen and (min-width: 700px) {
	body {
		background-image: url("/images/desktop_cover_light.png");
	    background-position: left top;
	    background-attachment: fixed;
	    background-size: cover;
	    background-color: #303244;
	}
	h2 {
	font-family: "OpenSans", sans-serif;
	font-size: 1.5em;
	color: #FFFFFF;
	letter-spacing: 0px;
	display: block;
	margin: 0 auto;
	/*padding: 5% 0 5% 0;*/
	margin-bottom: 1em;
	font-weight: lighter;
	font-style: italic;
	}

	#mid img {
	display: inline-block;
	height: 20vh;
	display: inherit;
	width: inherit;
	vertical-align: middle;
	border-style: solid;
position: relative;
margin: 3vh auto;
}

	h1 {
	font-family: "OpenSans", sans-serif;
	font-weight: lighter;
	font-size: 2.5em;
	color: #FFFFFF;
	letter-spacing: 0px;
	vertical-align: middle;
	display: block;
	margin: 0 auto;
	margin-bottom:0.2em;
	}
}

#top {
	height: 20vh;
	text-align: center;
}
#top img {
    height: 20vh;
    display: inherit;
		width: inherit;
    vertical-align: middle;
    border-style: solid;
	/*border-width: thick;*/
	/*border-color: white;*/
	position: relative;
	margin: 3vh auto;
}

#logo{
	height: 20vh;
	/*display: inherit;*/
  	vertical-align: middle;
	position: relative;
	margin: 3vh auto;
}

#mid {
	padding-top: 30vh;
	margin: 0 auto;
	text-align: center;
	width: 50%;
}
#mid-loader {
	padding-top: 10vh;
	margin: 0 auto;
	text-align: center;
}

#footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	text-align: center;
}
#footer a {
	font-family: "OpenSans", sans-serif;
	font-style: italic;
	font-weight: 300;
	font-size: .75em;
	color: #FFFFFF;
	letter-spacing: 0px;
}
#mid a {
	display: inline-block;
}
#spotify {
	height: 7vh;
}
#info {
		font-family: "OpenSans", sans-serif;
    font-style: italic;
    font-weight: 300;
    color: #fff;
    margin: 0 auto;
    letter-spacing: 0px;
    vertical-align: middle;
    display: inline-block;
    padding-bottom: 3vh;
}
a:link {
    text-decoration: none;
}
/* visited link */
a:visited {
    color: gray;
    text-decoration: none;
}
/* mouse over link */
a:hover {
    color: #F5D76E;
    text-decoration: none;
}
/* selected link */
a:active {
    color: #4B4A4A;
    text-decoration: none;
}
#comingsoon{
    height: 20vh;
    padding-top: 15vh;
    display: inherit;
    vertical-align: middle;
    border-style: solid;
	/*border-width: thick;*/
	/*border-color: white;*/
	position: relative;
	margin: 3vh auto;
}
#fourfourimage{
    display: inherit;
    vertical-align: middle;
    border-style: solid;
	/*border-width: thick;*/
	/*border-color: white;*/
	position: relative;
	margin: 3vh auto;
}
.four {
	display: block;
	font-family: "OpenSans", sans-serif;
	font-weight: 300;
	color: #fff;
	font-size: 1em;
	margin: 0 auto;
    letter-spacing: 0px;
    vertical-align: middle;
		padding: 5px;
}
.fourlink {
	font-family: "OpenSans", sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 1em;
	vertical-align: top;
	color: #4ECDC4;
	letter-spacing: 0px;
	vertical-align: middle;
	display: inline;
}
