body{
	background-color: #383838;
	color: white;
	font-family: Raleway;
}

.container{
	text-align: center;
	padding: 0 4em;
}

.title{
	font-size: 7em;
}

.person{
	margin-top: 3em;
	margin-bottom: 5em;
}

.person__name{
	font-weight: 600;
	font-size: 3.8em;
}

.person__bio{
	font-size: 2.5em;
}

.faq__title{
	font-weight: 600;
}

.faq__question{
	font-size: 2.4em;
}

.faq__answers{
	font-size: 2.4em;
}