.site {
	display: grid;
	grid-template-columns: 1fr 4fr 1fr;
	grid-template-rows: auto;
  grid-template-areas:
		"title title title"
		"left center right"
		"left center right"
		"footer footer footer";
}
