@supports (grid-area: auto) {

body {
  display: grid;
  grid-template-rows: auto;
}
#mid {
	padding-top: 32vh;
	margin: 0 auto;
	text-align: center;
}
/* footer on homepage is the login button */
footer {
  display: grid;
  height: 20vh;
  grid-template-rows: auto;
  grid-template-areas: "info"
                        "login";
  position: fixed;
	bottom: 0;
	margin: 0 auto;
	width: 100vw;
	background: black;
}

.info {
  font-family: 'archivo', sansserif;
  font-weight: 400;
}

    /* Desktop */
@media only screen
  and (min-device-width: 550px) {
    .login{
      margin: 0 auto;
    }
  }

    /* Mobile */
    @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 550px) {
      .login{
        position: fixed;
        bottom: 1em;
        transform: translateX(-50%);
        left: 50%;
      }
    }




}
