@font-face {font-family: SharpGroteskBook20; font-weight: 300; src: url("../fonts/SharpGroteskDBBook20.ttf");}
@font-face {font-family: SharpGroteskBook22; font-weight: 300; src: url("../fonts/SharpGroteskDBBook22.ttf");}
@font-face {font-family: SharpGroteskMedium20; font-weight: 500; src: url("../fonts/SharpGroteskDBMedium20.ttf");}
@font-face {font-family: SharpGroteskMedium22; font-weight: 500; src: url("../fonts/SharpGroteskDBMedium22.ttf");}
@font-face {font-family: SharpGroteskSemiBold20; font-weight: 500; src: url("../fonts/SharpGroteskDBSmBold20.ttf");}
@font-face {font-family: SharpGroteskSemiBold22; font-weight: 500; src: url("../fonts/SharpGroteskDBSmBold22.ttf");}

body {
	background: #383838;
}

.container{
    color: white;
    margin-top: 35vh;
    padding-left: 3em;
    padding-right: 3em;
}

.title {
	font-family: SharpGroteskSemiBold22;
	font-size: 2.8em;
	letter-spacing: -2px;
	vertical-align: middle;
	display: block;
	margin: 0 auto;
	margin-bottom:0.2em;
}

.subtitle{
    font-family: SharpGroteskBook20;
    font-size: 1.2em;
    line-height: 1.5em;
}

.spotify-button{
    width: 299px;
    height: 49px;
    position: fixed;
    cursor: pointer;
    bottom: 0.5em;
    margin-bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
}

.spotify-button.no-text{
    cursor: default;
    background: #1DB954;
    border-radius: 35px;
    font-family: SharpGroteskBook20;
    font-size: 17px;
    color: #FFFFFF;
}

.privacy-policy{
    font-family: SharpGroteskMedium22;
    position: fixed;
    bottom: 1em;
    font-size: 0.8em;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
}

/* Mobile */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 550px) {

}
/* Desktop size for login button */
@media only screen
and (min-device-width: 550px) {
    .container{
        width: 400px;
        margin: 0 auto;
        margin-top: 35vh;
        text-align: center;
    }

}