body {
    background: #383838;
    font-family: 'Raleway', sans-serif;
    color: white;
}

label {
    cursor: pointer;
}

header {
    font-size: 35px;
    font-weight: 800;
    margin-left: 14.3vw;
    margin-top: 5vw;
}

.add-shows-tooltip{
    position: fixed;
    top: 0;
    font-weight: 800;
    font-size: 1.2em;
    display: table;
    text-align: center;
    width: 100%;
    background-color: #32ABB7;
    height: 4em;
}

.no-shows-placeholder{
    font-weight: 600;
    line-height: 1.2em;
    font-size: 1.5em;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: 1em;
    margin-right: 1em;
}

.add-shows-tooltip__text{
    display: table-cell;
    vertical-align: middle;
}

.showlist{
    margin: 0 auto;
    margin-bottom: 10em;
}

.show{
    margin-bottom: 2em;
    display: grid;
    grid-template-columns: 2fr 8fr 2fr 2fr;
}

.show__info{

}

.show__save-to-calendar{

}

.show__share{

}

.show__day{
    margin-top: 3em;
    margin-left: 14.3vw;
    margin-bottom: 1em;
    font-weight: 800;
    font-size: 1em;
    text-transform: uppercase;
    border-bottom: 2px solid white;
    padding-bottom: 0.2em;
}

.show__time{
    display: table-cell;
    font-weight: 800;
    font-size: 0.8em;
    text-align: center;
    vertical-align: middle;
}

.show__time-wrapper{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: table;
}

.show__band{
    font-weight: 800;
    font-size: 25px;
}

.show__venue, .show__price{
    font-weight: 500;
    font-size: 13px;
}

.show_source{
    margin-bottom: 1em;
}


.show__add-button{
    display: none;

}

.show__add-button + label{
    background:url('/images/add-button.svg') no-repeat;
    height: 40px;
    width: 40px;
    display:inline-block;
    padding: 0 0 0 0px;
    margin-right: .75em;
}

.show__add-button:checked + label{
    background-image: url(/images/checkmark.svg);
    height: 40px;
    width: 40px;
    display:inline-block;
    padding: 0 0 0 0px;
    margin-right: .75em;
}

.show__button{
    margin: 0 auto;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.show__button.add-to-calendar{
    background:url('/images/add calendar_1002631.svg') no-repeat;
    background-size: contain;
}

.show__button.share-schedule{
    background:url('/images/share_schedule_670654.svg') no-repeat;
    background-size: contain;
}

.footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.footer.viewer{
    background-color: #383838;
    height: 9em;
}

.footer-button{
    width: 100%;
    font-weight: 800;
    font-size: 1.5em;
    text-align: center;
    display: table;
    background-color: #32ABB7;
    height: 4em;
}

.footer-button__text{
    display: table-cell;
    vertical-align: middle;
}

.footer-button:hover{
    background-color: #FFFFFF;
    color: #383838;
    cursor: pointer;
}

.modal__header{
    font-weight: 600;
    font-size: 1.2em;
    line-height: 1.2em;
    margin-bottom: 0.6em;
}

.modal__subtitle{
    font-size: 1em;
}

.modal__textarea{
    width: 100%;
    font-family: Raleway;
    font-weight: 600;
    font-size: 1em;
    color: #32ABB7;
    padding: 0.5em;
    border: 1px solid black;
}

.vex.vex-theme-wireframe .vex-dialog-button{
    float: left !important;
    margin: 0 !important;
    background-color: #383838;
    color: white;
    font-weight: 500;
}

a{
    text-decoration: none;
    color: white;
}

/* Desktop */
@media only screen
and (min-device-width: 550px) {
    .showlist{
        width: 45vw;
    }

    .show{
        grid-template-columns: 4fr 10fr 1fr 1fr;
    }

    .show__day{
        margin-left: 11.25vw;
    }

    .show__add{
        text-align: right;
    }

    .show__time{
        font-size: 1.1em;
    }

    .footer-button{
        margin: 0 0.05em;
    }

    .footer{
        position: relative;
    }
}