/* if our browser supports grids, use grids */
@supports (grid-area: auto) {
  article {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 3vh;
  }
  .card {
    display: grid;
    border-radius: 5px;
    grid-template-rows: auto;
    padding: 0;
    grid-template-areas:
      "band"
      "meta";
    }
    .daycard {
      display: grid;
      border-radius: 5px;
      grid-template-rows: auto;
      padding: 0 10vw;
    }
    footer {
      display: grid;
      height: 20vh;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:  "day day"
                            "nav-previous nav-next";
      grid-column-gap: .5vw;
    }
    .previous {
      grid-area: nav-previous;
    }
    .next {
      grid-area: nav-next;
    }
    .daycard {
      grid-area: day;
    }
    .card a:focus,
    .card a:hover {
    	margin: -5px 5px 5px -5px;
    	box-shadow: 5px 5px 0px 0px hsla(0, 0%, 70%, .8);
    }
  }
